<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Partenaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">

    <form action="{{ url_for('update_data', id=part.id) }}" method="POST" enctype="multipart/form-data">

          <label>Code</label>
         <input type="text" name="code" placeholder="code..." value="{{part.name}}"><br><br>
         <label>Name</label>
         <input type="text" name="name" placeholder="name..." value="{{part.name}}"><br><br>
         <label>Contact </label>
         <input type="text" name= "contact" placeholder="contact..."value="{{part.contact}}"><br><br>
         <label>Logo</label>
          <input type="file" name="logo" accept=".jpg, .png, .jpeg" placeholder="logo.." value="{{part.logo}}" required><br><br>
          <label>Icon</label>
         <input type="file" name="icon" accept=".jpg, .png, .jpeg" placeholder="icon.." value="{{part.icon}}"><br><br>
          <label for="type">Select an option:</label>
        <select id="type" name="type" >
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
         <button type="submit">Modifier</button>
      </form>
</head>
<body>

</body>
</html>