<html>
<head>
	<title>Index Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="icon" type="image/png" href="/static/images/resized/fa_cashplus_icon_64.png">

</head>
<body>
   {% include 'Navbar.html' %}
   <br>
	<h2>Partenaires</h2>

	<br>
	<table>
		<thead>

		   <th>Code</th>
		   <th>Name</th>
		   <th>Contact</th>
		   <th>Logo</th>
		   <th>Icon</th>

		   <th> </th>
		   <th> </th>

		</thead>
		{% for data in partenaire %}
		{% if data.type ==marchand %}
		<tbody>

			<td>{{data.code}}</td>
            <td>{{data.name}}</td>
            <td>{{data.contact}}</td>
            {% if data.logo %}
                   <td> <img src="{{ url_for('static', filename='images/' + data.logo) }}" alt="Logo"></td>
                {% endif %}
                {% if data.icon %}
                    <td><img src="{{ url_for('static', filename='images/' + data.icon) }}" alt="Icon"></td>
                {% endif %}

		</tbody>
		{% endif %}
		{% endfor %}
	</table>

<script>
    function confirmDelete(id) {

        var deleteUrl = "/delete/" + id;
        if (confirm("Etes-vous sure de vouloir supprimer ce partenaire ?")) {

            window.location.href = deleteUrl;
        }
    }
</script>

</body>
</html>
