<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ sprite_css }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=sprite_css) }}">
</head>
<body>
    <h1>Miniatures</h1>

    <span class="sprite Marchands_Lydec1_logo_16"></span>
    <span class="sprite Facturiers_orange_icon_64"></span>
    <span class="sprite MTO_Lydec_icon_64"></span>
    <span class="sprite Marchands_iam_logo_16"></span>
    <span class="sprite Marchands_mastercard_logo_16"></span>
    <span class="sprite Facturiers_taptap_logo_16"></span>

</body>
</html>
